@import './functions.scss';
@mixin square{
    width: 100%;
    height: 70%;
}
@mixin blue-cube{
    height: 35px;
    width: 30px;
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: blue;
}
@mixin gradient($count) {
    @for $i from 1 to $count{
        &:nth-child(#{$i}n) .square {
            background-color: color-count($i);
            }
    }
}